

<div class="row">
    <div class="col-12">
        <h2>Post List</h2>
        <a href="/posts/create" class="btn btn-success mb-3">New Post</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 200px; text-align: center; vertical-align: middle;">Image</th>
                    <th style="text-align: left; vertical-align: middle;">Title</th>
                    <th style="text-align: center; vertical-align: middle;">IsActive</th>
                    <th style="width: 200px; text-align: center; vertical-align: middle;">Settings</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align: center; vertical-align: middle;">
                            <img src="~/img/@item.Image" class="img-fluid" alt="">
                        </td>
                        <td style="vertical-align: middle;">@item.Title</td>
                        <td style="text-align: center; vertical-align: middle;">@item.IsActive</td>
                        <td style="text-align: center; vertical-align: middle;">
                            <a href="/posts/edit/@item.PostId" class="btn btn-warning">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
